In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv( "/content/drive/MyDrive/ELEVATE LABS/store_sales_data (2).csv")
df

,Customer ID,Customer Name,Last Name,Date of Birth,Sales,Year,Outlet Type,City Type,Category of Goods,Region,...,Ship Date,Ship Mode,State,Postal Code,Product ID,Sub-Category,Product Name,Quantity,Discount,Profit
0,CUST000001,Curtis,Krause,1973-11-29,3344.69,2023,Large,Tier 1,Fast Food,East,...,2020-04-18,Same Day,West Bengal,700001,PROD000001,Burgers,Burgers - 718,3.0,0.09,448.24
1,CUST000002,Jeremy,Foster,1987-08-30,37094.41,2022,Medium,Tier 2,Fast Food,East,...,2021-01-11,Standard Class,Punjab,160001,PROD000002,Pizzas,Pizzas - 519,5.0,0.39,3134.34
2,CUST000003,Ariel,Mccann,1980-12-15,35501.08,2023,Large,Village,Electric Appliances,South,...,2020-08-16,Second Class,Gujarat,380001,PROD000003,Fans,Fans - 395,6.0,0.07,8324.21
3,CUST000004,Colleen,Maynard,1989-05-23,8969.33,2021,Medium,Village,Dairy Products,East,...,2021-10-16,First Class,West Bengal,700001,PROD000004,Milk,Milk - 798,4.0,0.18,1962.66
4,CUST000005,Gina,Holden,1957-12-31,35530.44,2021,Small,Village,Sessional Fruits & Vegetables,West,...,2019-01-25,Standard Class,Delhi,110001,PROD000005,Tomatoes,Tomatoes - 442,4.0,0.27,2843.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47218,CUST047219,Taylor,Neal,1982-04-25,43993.36,2022,Large,Tier 1,Electric Appliances,East,...,2023-05-19,Same Day,Tamil Nadu,600001,PROD047219,Fans,Fans - 296,5.0,0.20,6917.20
47219,CUST047220,Nicholas,Harris,2016-10-28,1007.29,2019,Small,Tier 1,Furniture,East,...,2023-12-01,Standard Class,Gujarat,380001,PROD047220,Tables,Tables - 821,4.0,0.48,98.72
47220,CUST047221,John,Miller,1995-08-19,11253.01,2019,Large,Village,Furniture,West,...,2020-01-28,First Class,Maharashtra,400001,PROD047221,Tables,Tables - 548,2.0,0.49,1339.47
47221,CUST047222,Jose,Mendoza,1990-04-07,23146.34,2020,Medium,Tier 1,Dairy Products,North,...,2020-06-05,Same Day,Rajasthan,302001,PROD047222,Milk,Milk - 781,8.0,0.15,2125.77
47222,CUST047223,Jenny,Gross,2010-11-19,8022.03,2023,Large,Tier 2,Furniture,West,...,2022-06-13,Second Class,West Bengal,7000,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.isna().sum()

Customer ID          0
Customer Name        0
Last Name            0
Date of Birth        0
Sales                0
Year                 0
Outlet Type          0
City Type            0
Category of Goods    0
Region               0
Country              0
Segment              0
Sales Date           0
Order ID             0
Order Date           0
Ship Date            0
Ship Mode            0
State                0
Postal Code          0
Product ID           1
Sub-Category         1
Product Name         1
Quantity             1
Discount             1
Profit               1
dtype: int64

In [10]:
# Step 1: Remove rows with any null values
df.dropna(inplace=True)

# Step 2: Convert 'Order Date' to datetime format
df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce')

# Step 3: Remove any rows where 'Order Date' couldn't be parsed
df = df.dropna(subset=['Order Date'])

# Step 4: Create new 'Month-Year' column
df['Month-Year'] = df['Order Date'].dt.strftime('%b-%Y')

# Step 5: Preview the result
df

,Customer ID,Customer Name,Last Name,Date of Birth,Sales,Year,Outlet Type,City Type,Category of Goods,Region,...,Ship Mode,State,Postal Code,Product ID,Sub-Category,Product Name,Quantity,Discount,Profit,Month-Year
0,CUST000001,Curtis,Krause,1973-11-29,3344.69,2023,Large,Tier 1,Fast Food,East,...,Same Day,West Bengal,700001,PROD000001,Burgers,Burgers - 718,3.0,0.09,448.24,Apr-2020
1,CUST000002,Jeremy,Foster,1987-08-30,37094.41,2022,Medium,Tier 2,Fast Food,East,...,Standard Class,Punjab,160001,PROD000002,Pizzas,Pizzas - 519,5.0,0.39,3134.34,Jan-2021
2,CUST000003,Ariel,Mccann,1980-12-15,35501.08,2023,Large,Village,Electric Appliances,South,...,Second Class,Gujarat,380001,PROD000003,Fans,Fans - 395,6.0,0.07,8324.21,Aug-2020
3,CUST000004,Colleen,Maynard,1989-05-23,8969.33,2021,Medium,Village,Dairy Products,East,...,First Class,West Bengal,700001,PROD000004,Milk,Milk - 798,4.0,0.18,1962.66,Oct-2021
4,CUST000005,Gina,Holden,1957-12-31,35530.44,2021,Small,Village,Sessional Fruits & Vegetables,West,...,Standard Class,Delhi,110001,PROD000005,Tomatoes,Tomatoes - 442,4.0,0.27,2843.93,Jan-2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47217,CUST047218,Edward,Black,1999-04-30,48905.84,2020,Small,Tier 1,Dairy Products,East,...,Standard Class,Madhya Pradesh,462001,PROD047218,Yogurt,Yogurt - 900,7.0,0.47,4051.42,Sep-2021
47218,CUST047219,Taylor,Neal,1982-04-25,43993.36,2022,Large,Tier 1,Electric Appliances,East,...,Same Day,Tamil Nadu,600001,PROD047219,Fans,Fans - 296,5.0,0.20,6917.20,May-2023
47219,CUST047220,Nicholas,Harris,2016-10-28,1007.29,2019,Small,Tier 1,Furniture,East,...,Standard Class,Gujarat,380001,PROD047220,Tables,Tables - 821,4.0,0.48,98.72,Nov-2023
47220,CUST047221,John,Miller,1995-08-19,11253.01,2019,Large,Village,Furniture,West,...,First Class,Maharashtra,400001,PROD047221,Tables,Tables - 548,2.0,0.49,1339.47,Jan-2020
47221,CUST047222,Jose,Mendoza,1990-04-07,23146.34,2020,Medium,Tier 1,Dairy Products,North,...,Same Day,Rajasthan,302001,PROD047222,Milk,Milk - 781,8.0,0.15,2125.77,Jun-2020

In [11]:
excel_path = "/content/cleaned_store_sales_data.xlsx"
df.to_excel(excel_path, index=False)